@model RecipeBox.Models.Recipe

<h2>Edit this Recipe @Html.DisplayFor(model => model.Name)</h2>

@using (Html.BeginForm())
{
    @Html.HiddenFor(model => model.RecipeId)

    @Html.LabelFor(model => model.Name)
    @Html.EditorFor(model => model.Name)

    @Html.LabelFor(model => model.Ingredients)
    @Html.EditorFor(model => model.Ingredients)

    @Html.LabelFor(model => model.Rating)
    @Html.EditorFor(model => model.Rating)

    <input type="submit" value="Save" />
}

<p>@Html.ActionLink("Back to Recipes", "Index")</p>

